%% -*- mode: erlang -*-
{deps,
    [ %% not all plugins have to depend on emqx
      %% but if they do, use git_subdir in the default profile
      {emqx, {git_subdir, "https://github.com/emqx/emqx.git", {tag, "v5.1.3"}, "apps/emqx"}}
    , {emqx_ctl, {git_subdir, "https://github.com/emqx/emqx.git", {tag, "v5.1.3"}, "apps/emqx_ctl"}}
    , {emqx_utils, {git_subdir, "https://github.com/emqx/emqx.git", {tag, "v5.1.3"}, "apps/emqx_utils"}}
    , {emqx_durable_storage, {git_subdir, "https://github.com/emqx/emqx.git", {tag, "v5.1.3"}, "apps/emqx_durable_storage"}}
    , {emqtt, {git, "https://github.com/emqx/emqtt", {tag, "1.8.6"}}}
    ]}.

{plugins, [
    {emqx_plugrel, {git, "https://github.com/emqx/emqx_plugrel.git", {tag, "0.3.0"}}}
]}.

{erl_opts, [debug_info]}.

{relx, [ {release, {plugin_mqtt_proxy, "1.0.0"}, %% this is the release version, different from app vsn in .app file
            [ plugin_mqtt_proxy
            ]}
       , {dev_mode, false}
       , {include_erts, false}
       ]}.

%% Additional info of the plugin
{emqx_plugrel,
    [ {authors, ["EMQX Team"]}
    , {builder,
        [ {name, "EMQX Team"}
        , {contact, "emqx-support@emqx.io"}
        , {website, "http://www.emqx.com"}
        ]}
    , {repo, "https://github.com/emqx/plugin_mqtt_proxy.git"}
    , {functionality, ["Proxy"]}
    , {compatibility,
        [ {emqx, "~> 5.1"}
        ]}
    , {description, "Proxies all SSL connections to another broker"}
    ]
}.

{xref_checks,[undefined_function_calls,undefined_functions,locals_not_used,
              deprecated_function_calls,warnings_as_errors,deprecated_functions]}.
